*.VC.opendb
*.VC.db
WinRelease/
WinDebug/
WinFinal/
WinRelease.x64/
WinDebug.x64/
WinFinal.x64/
WinReleaseS/
WinDebugS/
WinFinalS/
WinReleaseS.x64/
WinDebugS.x64/
WinFinalS.x64/
ipch/
# stop recurcive 'lib' ignoring
lib
NeoML/lib
NeoMathEngine/lib
.vs/
*/.idea/vcs.xml
*.user
.DS_Store
Android.*/
NeoMathEngine/Src/GPU/Vulkan/shaders/generated
xcuserdata/
.vscode/settings.json
.vscode/c_cpp_properties.json
NeoML/test/InferenceTest/lib
NeoML/test/InferenceTestIOS/InferenceTestIOS.xcodeproj/project.xcworkspace/contents.xcworkspacedata
NeoML/test/InferenceTestAndroid/app/src/main/assets
NeoML/test/InferenceTestAndroid/app/.cxx
NeoML/test/InferenceTestAndroid/app/build

