# NeoML/docs/en/requirements.txt
sphinx==2.4.0
sphinx-rtd-theme==0.5.1
m2r2==0.2.7
# requirements for build
cmake==3.18.4
ninja==1.10.0
setuptools==39.0.1
numpy>=1.19.1
scipy>=1.5.2
pybind11-global==2.6.1