# NeoML/docs/en/requirements.txt
sphinx
sphinx-rtd-theme  # Pretty-looking theme for generated HTMLs
nbsphinx  # Add .ipynb support to sphinx docs
pandoc  # Required for markdown cells in nbsphinx
ipython  # Required for syntax highlighting in nbsphinx
sphinx-copybutton  # Add 'copy to clipboard' button to code snippets
# m2r2==0.2.7  (used for C++ docs build)
# recommonmark==0.6.0  (used for C++ docs build)

# requirements for package build on readthedocs
cmake
ninja
setuptools
numpy
scipy
pybind11-global
jinja2
onnx==1.16.0
